.navbar-nav .nav-link {
    color: rgb(19, 126, 83) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(133, 206, 122, 0.5) !important;
}

body {
    font-family: 'Lato', sans-serif;
}

#blogtitle {
    font-size: 1rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 1rem;
    }
    #blogdetailtitle {
        font-size: 1rem;
    }
}
